<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Pages</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="Content/display.css" />
    <link rel="stylesheet" media="handheld" href="Content/handheld.css">
</head>
<body>
    <script type="text/template" id="page-view-template">     
        <header>
            <h1 class="name" >
                <%- name %>
            </h1>
        </header>
        <div class="content">
            <%= html %>
        </div>
    </script>
    <script type="text/template" id="page-edit-template">     
        <header>
            <input type="text" value="<%= name %>" class="name" />
        </header>
        <textarea class="content"><%= content %></textarea>
    </script>
    <script type="text/template" id="page-template">
        <div class="edit" />
        <div class="view" />
        <br style="clear:both" />
    </script>
    <script src="../Scripts/jquery-1.7.2.js"></script>
    <script src="../Scripts/underscore.js"></script>
    <script src="../Scripts/backbone.js"></script>
    <script src="../Scripts/showdown.js"></script>
    <script src="../Scripts/pages.js"></script>
</body>
</html>
