body {
    background: #f8f7f7;
    font: normal 10px Tahoma, Helvetica, Sans-Serif;
}

article {
    /*margin: 20px;*/
    width: 90%;
    background: #fff;
    box-shadow: -3px -3px 3px rgba(0,0,0,0.05);
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.2em;
    border: 1px solid #eee;
}

    article .view {
        padding: 10px 0 10px 0;
    }

    article .view {
        padding-left: 2%;
    }

    article header h1 {
        font-size: 1.6em;
        padding-top: 0;
        margin-top: 0;
    }

    
.clean {
	display: inline-block;
}

.clean:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
